<main>
  <article class="bg-white">
    <header class="top !pb-0">
      <div *ngIf="post.image" class="relative pt-[42%]">
        <img
          [src]="post.image"
          alt="Cover image"
          class="absolute inset-0 w-full h-full object-scale-down"
        />
      </div>
      <div class="px-3 pt-3">
        <div></div>
        <h1 class="mb-2 text-3xl font-bold md:text-4xl lg:text-5xl">
          {{ post.title }}
        </h1>
        <div class="tags -ml-2 mt-1">
          <a
            tuiTag
            *ngFor="let tag of post.tags"
            [routerLink]="'/t/' + tag"
            [value]="'#' + tag"
            [hoverable]="true"
          ></a>
        </div>
      </div>
    </header>
  </article>
</main>
