<header class="fixed top-0 left-0 right-0 bg-white z-10">
  <div
    class="max-w-7xl h-nav-h mx-auto px-2 flex justify-between items-center lg:p-4"
  >
    <!-- Left -->
    <div class="h-11 flex">
      <a routerLink="/" class="h-full">
        <img
          src="https://dev-to-uploads.s3.amazonaws.com/uploads/logos/resized_logo_UQww2soKuUsjaOGNB38o.png"
          alt="Logo"
          class="h-full"
        />
      </a>
      <div class="hidden ml-4 md:block">
        <tui-input
          [(ngModel)]="searchContent"
          [tuiTextfieldLabelOutside]="true"
          tuiTextfieldCustomContent="tuiIconSearch"
          tuiTextfieldSize="m"
          class="w-96"
        >
          Search...
          <input tuiTextfield placeholder="Search..." />
        </tui-input>
      </div>
    </div>

    <!-- Right -->
    <div class="right-buttons flex items-center">
      <div class="md:hidden">
        <a tuiIconButton appearance="flat" icon="tuiIconSearchLarge"></a>
      </div>

      <ng-container *ngIf="loggedUser; else notLoggedIn">
        <div class="hidden md:block">
          <a tuiButton appearance="whiteblock">Create Post</a>
        </div>
        <a tuiIconButton appearance="flat" icon="tuiIconBellLarge"></a>
        <tui-hosted-dropdown
          [(open)]="openDropdown"
          [content]="dropdown"
          [tuiDropdownOffset]="9"
        >
          <button>
            <tui-avatar
              [avatarUrl]="loggedUser.image"
              [rounded]="true"
              size="s"
            ></tui-avatar>
          </button>
        </tui-hosted-dropdown>

        <ng-template #dropdown let-close="close">
          <div class="w-[max-content] min-w-[250px] max-w-[360px] p-2">
            <ul>
              <li class="mb-2 pb-2 border-b">
                <a
                  tuiButton
                  size="l"
                  [routerLink]="'/u/' + loggedUser.username"
                  class="list-item username w-full"
                >
                  <span class="block mt-1">
                    {{ loggedUser.name }}
                  </span>
                  <span class="block -mt-1 text-gray-500"> @{{ loggedUser.username }} </span>
                </a>
              </li>
              <li
                *ngFor="let link of links; last as last"
                [ngClass]="last ? 'mt-2 pt-2 border-t' : ''"
              >
                <a tuiButton [routerLink]="link.url" class="list-item w-full">
                  <span class="block">{{ link.label }}</span>
                </a>
              </li>
            </ul>
          </div>
        </ng-template>
      </ng-container>

      <ng-template #notLoggedIn>
        <div class="hidden md:block">
          <a tuiButton routerLink="/login" appearance="flat">Log in</a>
        </div>
        <a tuiButton routerLink="/register">Create account</a>
      </ng-template>
    </div>
  </div>
</header>
