<header class="fixed top-0 left-0 right-0 bg-white z-10">
  <div class="max-w-5xl h-nav-h mx-auto px-4 flex justify-between items-center">
    <div class="h-11 flex">
      <a class="h-full">
        <img
          src="https://dev-to-uploads.s3.amazonaws.com/uploads/logos/resized_logo_UQww2soKuUsjaOGNB38o.png"
          alt="Logo"
          class="h-full"
        />
      </a>
      <div class="ml-4">
        <tui-input
          [(ngModel)]="searchContent"
          [tuiTextfieldLabelOutside]="true"
          tuiTextfieldCustomContent="tuiIconSearch"
          tuiTextfieldSize="m"
          class="w-96"
        >
          Search...
          <input tuiTextfield placeholder="Search..." />
        </tui-input>
      </div>
    </div>
    <div>
      <a tuiButton appearance="flat" class="mr-2">Log in</a>
      <a tuiButton>Create account</a>
    </div>
  </div>
</header>
