<tui-scrollbar class="h-full bg-white rounded-md shadow-card-border">
  <form *ngIf="activeItemIndex === 0; else preview" [formGroup]="form">
    <div class="top">
      <div
        *ngrxLet="coverImageUrl$ as coverImageUrl"
        class="flex items-center mb-4"
      >
        <img
          *ngIf="coverImageUrl"
          [src]="coverImageUrl"
          alt="Cover image"
          class="w-64 h-28 mr-4 object-scale-down"
        />
        <div class="flex">
          <tui-loader
            *ngrxLet="uploadCoverImageStatus$ as uploadCoverImageStatus"
            [showLoader]="uploadCoverImageStatus === 'loading'"
            [overlay]="true"
          >
            <button
              tuiButton
              (click)="image.click()"
              appearance="outline"
              tuiHint="Use a ratio of 100:42 for best results."
              tuiHintDirection="bottom"
              tuiHintAppearance="onDark"
            >
              {{
                uploadCoverImageStatus === 'loading'
                  ? 'Uploading'
                  : coverImageUrl
                  ? 'Change'
                  : 'Add a cover image'
              }}
            </button>
          </tui-loader>
          <button
            tuiButton
            *ngIf="coverImageUrl"
            (click)="onRemoveCoverImage()"
            appearance="secondary-destructive"
            class="ml-2"
          >
            Remove
          </button>
        </div>
        <input
          #image
          (change)="onFileChange($event)"
          type="file"
          accept="image/*"
          class="hidden"
        />
      </div>
      <div #title class="mb-2">
        <textarea
          formControlName="title"
          autosize
          (focus)="changeFocusItem('title')"
          [minRows]="1"
          placeholder="New post title here..."
          class="w-full text-3xl font-bold outline-none resize-none placeholder-gray-600 md:text-4xl lg:text-5xl"
        ></textarea>
      </div>
      <div #tags>
        <tui-input-tag
          formControlName="tags"
          (focusedChange)="$event ? changeFocusItem('tags') : null"
          (searchChange)="onSearchChange($event)"
          [tuiTextfieldLabelOutside]="true"
          [pseudoHover]="false"
          [pseudoFocus]="false"
          [pseudoActive]="false"
          class="!rounded-none"
        >
          Add up to 4 tags
          <tui-data-list-wrapper
            *tuiDataList
            [items]="items$ | async"
          ></tui-data-list-wrapper>
        </tui-input-tag>
      </div>
    </div>

    <div class="bottom">
      <div #body>
        <tui-editor
          formControlName="body"
          (focusedChange)="$event ? changeFocusItem('body') : null"
          exampleText="Write your content here..."
        ></tui-editor>
      </div>
    </div>
  </form>

  <ng-template #preview>
    <article>
      <header class="top !pb-0">
        <ng-container *ngrxLet="coverImageUrl$ as coverImageUrl">
          <div *ngIf="coverImageUrl" class="relative pt-[42%]">
            <img
              [src]="coverImageUrl"
              alt="Cover image"
              class="absolute inset-0 w-full h-full object-scale-down"
            />
          </div>
        </ng-container>
        <div>
          <h1 class="text-3xl font-bold md:text-4xl lg:text-5xl">
            {{ form.value['title'] }}
          </h1>
          <div class="tags -ml-2 mt-3">
            <a
              tuiTag
              *ngFor="let tag of form.value['tags']"
              [routerLink]="'/t/' + tag"
              [value]="'#' + tag"
              [hoverable]="true"
            ></a>
          </div>
        </div>
      </header>
      <div class="bottom">
        <tui-editor-socket
          class="socket"
          [content]="form.value['body'] || ''"
        ></tui-editor-socket>
      </div>
    </article>
  </ng-template>
</tui-scrollbar>
