<article class="rounded-md bg-white shadow-card-border overflow-hidden">
  <a
    [routerLink]="allCardNavigate ? (post | url : 'post') : null"
    class="block"
  >
    <div *ngIf="displayImage && post.image" class="bg-gray-200">
      <img
        [src]="post.image"
        [alt]="post.title"
        class="w-full max-h-72 object-scale-down"
      />
    </div>

    <div class="p-5">
      <div class="post-summary">
        <div class="flex items-center">
          <app-avatar [user]="post.author"></app-avatar>
          <div class="ml-2">
            <tui-hosted-dropdown tuiDropdownHover [content]="dropdown">
              <a
                tuiButton
                tuiHostedDropdownHost
                [routerLink]="post | url : 'user'"
                size="xs"
                class="-ml-2 -mt-1 !text-sm"
              >
                {{ post.author.fullName }}
              </a>
            </tui-hosted-dropdown>
            <p class="-mt-1 text-xs">{{ post.createdAt | date : 'MMM d' }}</p>
          </div>
        </div>

        <div class="md:pl-10">
          <h3
            class="mt-2 text-xl font-bold sm:text-2xl"
            [class.sm:text-3xl]="displayImage"
          >
            <a [routerLink]="post | url : 'post'" class="hover:text-blue-800">
              {{ post.title }}
            </a>
          </h3>
          <div class="-ml-2 mt-1">
            <a
              tuiTag
              *ngFor="let tag of post.tags"
              [routerLink]="tag | url : 'tag'"
              [value]="'#' + tag"
              [hoverable]="true"
            ></a>
          </div>
          <div class="flex justify-between items-center mt-2">
            <div class="left-buttons">
              <button tuiButton icon="tuiIconHeart" class="-ml-2">
                {{ post.reactionsCount }} Reactions
              </button>
              <button tuiButton icon="tuiIconComment">
                <ng-container [ngSwitch]="post.commentsCount">
                  <ng-container *ngSwitchCase="0">Add comment</ng-container>
                  <ng-container *ngSwitchCase="1">1 comment</ng-container>
                  <ng-container *ngSwitchDefault>
                    {{ post.commentsCount }} comments
                  </ng-container>
                </ng-container>
              </button>
            </div>
            <div class="flex items-center">
              <p class="text-xs">{{ post.timeToRead }} min read</p>
              <button
                tuiIconButton
                icon="tuiIconBookmark"
                size="m"
                class="ml-2"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <ng-template #dropdown let-item>
        <div
          class="dropdown min-w-[250px] max-w-[360px] flex flex-col px-4 pb-4 text-base border-t-[32px] border-t-blue-700"
        >
          <div class="-mt-4">
            <a [routerLink]="post | url : 'user'" class="flex">
              <app-avatar [user]="post.author" size="m"></app-avatar>
              <span class="inline-block ml-2 mt-6 text-xl font-bold">
                {{ post.author.fullName }}
              </span>
            </a>
          </div>
          <div class="mt-4">
            <button tuiButton appearance="primary" size="s" class="w-full">
              Follow
            </button>
          </div>
          <div class="mt-4 text-gray-600">Follow for dev, javascript</div>
          <div class="mt-4">
            <ul>
              <li>
                <div class="text-xs text-gray-700">Work</div>
                <div class="value">FPT Software</div>
              </li>
              <li class="mt-2">
                <div class="text-xs text-gray-700">Work</div>
                <div class="value">FPT Software</div>
              </li>
              <li class="mt-2">
                <div class="text-xs text-gray-700">Work</div>
                <div class="value">FPT Software</div>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </div>
  </a>
</article>
