<app-layout>
  <section class="">
    <div class="w-full m-auto p-6 bg-white rounded-md sm:w-[640px] sm:p-12">
      <div class="mb-6 text-center">
        <h1 class="mb-2 text-2xl font-bold md:text-3xl">
          Welcome to DEV Community 👩‍💻👨‍💻
        </h1>
        <p class="text-base">
          DEV Community 👩‍💻👨‍💻 is a community of 989,142 amazing developers
        </p>
      </div>

      <div>
        <button tuiButton appearance="google" size="m">
          Sign up with Google
        </button>
        <button tuiButton appearance="facebook" size="m">
          Sign up with Facebook
        </button>
      </div>

      <div
        class="relative my-4 text-sm text-center after:contents-[''] after:absolute after:top-1/2 after:w-full after:block after:border"
      >
        <span class="relative px-2 bg-white z-10">
          Have a password? Continue with your email address
        </span>
      </div>

      <form [formGroup]="form" class="text-base">
        <div class="tui-form__row">
          <label>
            Email
            <tui-input
              formControlName="userName"
              [tuiTextfieldLabelOutside]="true"
              tuiTextfieldSize="m"
            >
              <input tuiTextfield />
            </tui-input>
          </label>
        </div>
        <div class="tui-form__row">
          <label>
            Password
            <tui-input-password
              formControlName="password"
              [tuiTextfieldLabelOutside]="true"
              tuiTextfieldSize="m"
            ></tui-input-password>
          </label>
        </div>
        <div class="tui-form__row">
          <tui-checkbox-labeled formControlName="remember" size="l">
            Remember me
          </tui-checkbox-labeled>
        </div>
        <div *ngrxLet="status$ as status" class="tui-form__row">
          <button
            tuiButton
            (click)="login()"
            [showLoader]="status === 'loading'"
            size="m"
          >
            Continue
          </button>
        </div>
      </form>

      <div class="mt-6 text-center">
        <a tuiLink>I forgot my password</a>
      </div>
    </div>
  </section>
</app-layout>
