<div class="wrapper p-12 text-center text-sm bg-gray-200">
  <p>
    <a tuiLink routerLink="/"> DEV Community 👩&zwj;💻👨&zwj;💻 </a>
    — A constructive and inclusive social network for software developers. With
    you every step of your journey.
  </p>

  <ul class="links flex gap-2 justify-center flex-wrap p-0">
    <li class="flex items-center">
      <a tuiLink href="/"> Home </a>
      <span></span>
    </li>
    <li class="flex items-center">
      <a tuiLink href="/listings"> Listings </a>
      <span></span>
    </li>
    <li class="flex items-center">
      <a tuiLink href="/pod"> Podcasts </a>
      <span></span>
    </li>
    <li class="flex items-center">
      <a tuiLink href="/videos"> Videos </a>
      <span></span>
    </li>
    <li class="flex items-center">
      <a tuiLink href="/tags"> Tags </a>
      <span></span>
    </li>
    <li class="flex items-center">
      <a tuiLink href="/faq"> FAQ </a>
      <span></span>
    </li>
    <li class="flex items-center">
      <a tuiLink href="https://shop.forem.com"> Forem Shop </a>
      <span></span>
    </li>
    <li class="flex items-center">
      <a tuiLink href="/sponsorships"> Sponsors </a>
      <span></span>
    </li>
    <li class="flex items-center">
      <a tuiLink href="/about"> About </a>
      <span></span>
    </li>
    <li class="flex items-center">
      <a tuiLink href="/contact"> Contact </a>
      <span></span>
    </li>
    <li class="flex items-center">
      <a tuiLink href="/guides"> Guides </a>
      <span></span>
    </li>
    <li class="flex items-center">
      <a tuiLink href="/software-comparisons"> Software comparisons </a>
      <span></span>
    </li>
  </ul>

  <ul class="flex gap-2 justify-center flex-wrap fs-s p-0" style="">
    <li class="flex items-center">
      <a tuiLink href="/code-of-conduct"> Code of Conduct </a>
      <span></span>
    </li>
    <li class="flex items-center">
      <a tuiLink href="/privacy"> Privacy Policy </a>
      <span></span>
    </li>
    <li class="flex items-center">
      <a tuiLink href="/terms"> Terms of use </a>
      <span></span>
    </li>
  </ul>

  <div class="fs-s">
    <p>
      Built on
      <a
        tuiLink
        class="c-link c-link--branded"
        target="_blank"
        rel="noopener"
        href="https://www.forem.com"
        >Forem</a
      >
      — the
      <a
        tuiLink
        target="_blank"
        rel="noopener"
        class="c-link c-link--branded"
        href="https://dev.to/t/opensource"
        >open source</a
      >
      software that powers
      <a
        tuiLink
        target="_blank"
        rel="noopener"
        class="c-link c-link--branded"
        href="https://dev.to"
        >DEV</a
      >
      and other inclusive communities.
    </p>
    <p>
      Made with love and
      <a
        tuiLink
        target="_blank"
        rel="noopener"
        class="c-link c-link--branded"
        href="https://dev.to/t/rails"
        >Ruby on Rails</a
      >. DEV Community 👩&zwj;💻👨&zwj;💻 <span title="copyright">©</span> 2016
      - 2023.
    </p>
  </div>
</div>
