<ng-container *ngrxLet="helpYPosition$ as helpYPosition">
  <div
    *ngrxLet="focusItem$ as focusItem"
    [ngStyle]="{ top: helpYPosition + 'px' }"
    class="absolute"
  >
    <ng-container [ngSwitch]="focusItem">
      <div *ngSwitchCase="'title'" [@slideUp]>
        <h4>Writing a Great Post Title</h4>
        <ul>
          <li>
            Think of your post title as a super short (but compelling!)
            description — like an overview of the actual post in one short
            sentence.
          </li>
          <li>
            Use keywords where appropriate to help ensure people can find your
            post by search.
          </li>
        </ul>
      </div>
      <div *ngSwitchCase="'tags'" [@slideUp]>
        <h4>Tagging Guidelines</h4>
        <ul>
          <li>Tags help people find your post.</li>
          <li>
            Think of tags as the topics or categories that best describe your
            post.
          </li>
          <li>
            Add up to four comma-separated tags per post. Combine tags to reach
            the appropriate subcommunities.
          </li>
          <li>Use existing tags whenever possible.</li>
          <li>
            Some tags, such as “help” or “healthydebate”, have special posting
            guidelines.
          </li>
        </ul>
      </div>
      <div *ngSwitchCase="'body'" [@slideUp]>
        <h4>Editor Basics</h4>
        <ul>
          <li>Write fancy content.</li>
        </ul>
      </div>
    </ng-container>
  </div>
</ng-container>
