<tui-scrollbar [class.max-h-screen]="isMobile">
  <app-left-side-bar-close-mobile-sidebar
    *ngIf="isMobile"
    (closeSidebar)="closeSidebar.emit()"
  ></app-left-side-bar-close-mobile-sidebar>
  <div [class.p-2]="isMobile" class="navs">
    <ng-container *ngrxLet="status$ as status">
      <ng-container *ngrxLet="user$ as user">
        <div
          *ngIf="user === null && (status === 'error' || status === 'success')"
          [@tuiFadeIn]="durationOptions"
          [@tuiHeightCollapse]="durationOptions"
        >
          <app-left-side-bar-login-box></app-left-side-bar-login-box>
        </div>
      </ng-container>
    </ng-container>
    <app-left-side-bar-navigation-links></app-left-side-bar-navigation-links>
    <app-left-side-bar-other-navigation-links></app-left-side-bar-other-navigation-links>
    <app-left-side-bar-social-media></app-left-side-bar-social-media>
    <app-left-side-bar-my-tags *ngIf="!isMobile"></app-left-side-bar-my-tags>
  </div>
</tui-scrollbar>
